.u-section-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-1 .u-image-1 {
  width: 217px;
  height: 217px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.6875rem;
  width: 485px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.6875rem;
  width: 431px;
  margin: 23px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.6875rem;
  width: 431px;
  margin: 23px auto 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    font-size: 1.6875rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.6875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-image-1 {
    width: 164px;
    height: 164px;
    margin-top: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin: 7px 0 44px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1rem;
  }
}