.u-section-1 .u-sheet-1 {
  min-height: 76px;
}

.u-section-1 .u-menu-1 {
  margin: 20px auto;
}

.u-section-1 .u-nav-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}