 .u-section-1 {
  background-image: linear-gradient(to right, #2cccc4, #00ff83);
}

.u-section-1 .u-sheet-1 {
  min-height: 76px;
}

.u-section-1 .u-menu-1 {
  margin: 20px auto;
}

.u-section-1 .u-nav-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}.u-section-2 .u-sheet-1 {
  min-height: 439px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 74px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.5rem;
  margin: 36px 0 58px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 969px;
}

.u-section-3 .u-line-1 {
  width: 1062px;
  transform-origin: right center 0px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 23px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 5px 0 0;
}

.u-section-3 .u-video-1 {
  height: 337px;
  width: 1034px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-3 {
  margin: -50px auto 0 280px;
}

.u-section-3 .u-video-2 {
  height: 337px;
  width: 1034px;
  margin: 54px auto 0;
}

.u-section-3 .u-text-4 {
  margin: -59px auto 60px 76px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
    margin-top: 59px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -34px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-3 .u-video-1 {
    height: 306px;
    width: 940px;
  }

  .u-section-3 .u-video-2 {
    height: 306px;
    width: 940px;
    margin-top: 53px;
    margin-bottom: 53px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -28px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
    margin-top: 131px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -106px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 111px;
  }

  .u-section-3 .u-video-1 {
    height: 234px;
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 214px;
  }

  .u-section-3 .u-video-2 {
    height: 234px;
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-video-1 {
    height: 176px;
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 161px;
  }

  .u-section-3 .u-video-2 {
    height: 176px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-video-1 {
    height: 111px;
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 101px;
  }

  .u-section-3 .u-video-2 {
    height: 111px;
    width: 340px;
    margin-top: 61px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2490px;
}

.u-section-4 .u-line-1 {
  width: 1062px;
  transform-origin: right center 0px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  font-size: 1.875rem;
  margin: 20px 502px 0 0;
}

.u-section-4 .u-video-1 {
  height: 337px;
  width: 1034px;
  margin: 53px auto 0;
}

.u-section-4 .u-text-2 {
  margin: -50px auto 0 83px;
}

.u-section-4 .u-video-2 {
  height: 337px;
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-4 .u-text-3 {
  margin: -56px auto 0 83px;
}

.u-section-4 .u-video-3 {
  height: 337px;
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-4 .u-text-4 {
  margin: -56px auto 0 83px;
}

.u-section-4 .u-video-4 {
  height: 337px;
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-4 .u-text-5 {
  margin: -60px auto 0 83px;
}

.u-section-4 .u-video-5 {
  height: 337px;
  width: 1034px;
  margin: 77px auto 0;
}

.u-section-4 .u-text-6 {
  margin: -60px auto 0 83px;
}

.u-section-4 .u-video-6 {
  height: 337px;
  width: 1034px;
  margin: 77px auto 0;
}

.u-section-4 .u-text-7 {
  margin: -59px auto 60px 83px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2305px;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 302px;
  }

  .u-section-4 .u-video-1 {
    height: 306px;
    width: 940px;
    margin-top: -178px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -19px;
  }

  .u-section-4 .u-video-2 {
    height: 306px;
    width: 940px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -25px;
  }

  .u-section-4 .u-video-3 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -25px;
  }

  .u-section-4 .u-video-4 {
    height: 306px;
    width: 940px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -29px;
  }

  .u-section-4 .u-video-5 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: -29px;
  }

  .u-section-4 .u-video-6 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: -28px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1873px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 82px;
  }

  .u-section-4 .u-video-1 {
    height: 234px;
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 53px;
  }

  .u-section-4 .u-video-2 {
    height: 234px;
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 47px;
  }

  .u-section-4 .u-video-3 {
    height: 234px;
    width: 720px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 47px;
  }

  .u-section-4 .u-video-4 {
    height: 234px;
    width: 720px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 43px;
  }

  .u-section-4 .u-video-5 {
    height: 234px;
    width: 720px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 43px;
  }

  .u-section-4 .u-video-6 {
    height: 234px;
    width: 720px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1525px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-video-1 {
    height: 176px;
    width: 540px;
  }

  .u-section-4 .u-video-2 {
    height: 176px;
    width: 540px;
  }

  .u-section-4 .u-video-3 {
    height: 176px;
    width: 540px;
  }

  .u-section-4 .u-video-4 {
    height: 176px;
    width: 540px;
  }

  .u-section-4 .u-video-5 {
    height: 176px;
    width: 540px;
  }

  .u-section-4 .u-video-6 {
    height: 176px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-video-1 {
    height: 111px;
    width: 340px;
  }

  .u-section-4 .u-video-2 {
    height: 111px;
    width: 340px;
  }

  .u-section-4 .u-video-3 {
    height: 111px;
    width: 340px;
  }

  .u-section-4 .u-video-4 {
    height: 111px;
    width: 340px;
  }

  .u-section-4 .u-video-5 {
    height: 111px;
    width: 340px;
  }

  .u-section-4 .u-video-6 {
    height: 111px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2492px;
}

.u-section-5 .u-line-1 {
  width: 1062px;
  transform-origin: right center 0px;
  margin: 32px auto 0;
}

.u-section-5 .u-text-1 {
  font-style: italic;
  font-size: 1.875rem;
  margin: 20px 502px 0 0;
}

.u-section-5 .u-video-1 {
  height: 337px;
  width: 1034px;
  margin: 53px auto 0;
}

.u-section-5 .u-text-2 {
  margin: -50px auto 0 83px;
}

.u-section-5 .u-video-2 {
  height: 337px;
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-5 .u-text-3 {
  margin: -56px auto 0 83px;
}

.u-section-5 .u-video-3 {
  height: 337px;
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-5 .u-text-4 {
  margin: -56px auto 0 83px;
}

.u-section-5 .u-video-4 {
  height: 337px;
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-5 .u-text-5 {
  margin: -60px auto 0 83px;
}

.u-section-5 .u-video-5 {
  height: 337px;
  width: 1034px;
  margin: 77px auto 0;
}

.u-section-5 .u-text-6 {
  margin: -60px auto 0 83px;
}

.u-section-5 .u-video-6 {
  height: 337px;
  width: 1034px;
  margin: 77px auto 0;
}

.u-section-5 .u-text-7 {
  margin: -59px auto 60px 83px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2305px;
  }

  .u-section-5 .u-line-1 {
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 302px;
  }

  .u-section-5 .u-video-1 {
    height: 306px;
    width: 940px;
    margin-top: -178px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -19px;
  }

  .u-section-5 .u-video-2 {
    height: 306px;
    width: 940px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -25px;
  }

  .u-section-5 .u-video-3 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: -25px;
  }

  .u-section-5 .u-video-4 {
    height: 306px;
    width: 940px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -29px;
  }

  .u-section-5 .u-video-5 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: -29px;
  }

  .u-section-5 .u-video-6 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: -28px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1873px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 82px;
  }

  .u-section-5 .u-video-1 {
    height: 234px;
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 53px;
  }

  .u-section-5 .u-video-2 {
    height: 234px;
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 47px;
  }

  .u-section-5 .u-video-3 {
    height: 234px;
    width: 720px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 47px;
  }

  .u-section-5 .u-video-4 {
    height: 234px;
    width: 720px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 43px;
  }

  .u-section-5 .u-video-5 {
    height: 234px;
    width: 720px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 43px;
  }

  .u-section-5 .u-video-6 {
    height: 234px;
    width: 720px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1525px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    height: 176px;
    width: 540px;
  }

  .u-section-5 .u-video-2 {
    height: 176px;
    width: 540px;
  }

  .u-section-5 .u-video-3 {
    height: 176px;
    width: 540px;
  }

  .u-section-5 .u-video-4 {
    height: 176px;
    width: 540px;
  }

  .u-section-5 .u-video-5 {
    height: 176px;
    width: 540px;
  }

  .u-section-5 .u-video-6 {
    height: 176px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }

  .u-section-5 .u-video-1 {
    height: 111px;
    width: 340px;
  }

  .u-section-5 .u-video-2 {
    height: 111px;
    width: 340px;
  }

  .u-section-5 .u-video-3 {
    height: 111px;
    width: 340px;
  }

  .u-section-5 .u-video-4 {
    height: 111px;
    width: 340px;
  }

  .u-section-5 .u-video-5 {
    height: 111px;
    width: 340px;
  }

  .u-section-5 .u-video-6 {
    height: 111px;
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 2492px;
}

.u-section-6 .u-line-1 {
  width: 1062px;
  transform-origin: right center 0px;
  margin: 32px auto 0;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  font-size: 1.875rem;
  margin: 20px 502px 0 0;
}

.u-section-6 .u-video-1 {
  height: 337px;
  width: 1034px;
  margin: 53px auto 0;
}

.u-section-6 .u-text-2 {
  margin: -50px auto 0 83px;
}

.u-section-6 .u-video-2 {
  height: 337px;
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-6 .u-text-3 {
  margin: -56px auto 0 83px;
}

.u-section-6 .u-video-3 {
  height: 337px;
  width: 1034px;
  margin: 75px auto 0;
}

.u-section-6 .u-text-4 {
  margin: -58px auto 0 83px;
}

.u-section-6 .u-video-4 {
  height: 337px;
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-6 .u-text-5 {
  margin: -60px auto 0 83px;
}

.u-section-6 .u-video-5 {
  height: 337px;
  width: 1034px;
  margin: 77px auto 0;
}

.u-section-6 .u-text-6 {
  margin: -60px auto 0 83px;
}

.u-section-6 .u-video-6 {
  height: 337px;
  width: 1034px;
  margin: 77px auto 0;
}

.u-section-6 .u-text-7 {
  margin: -59px auto 60px 83px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2305px;
  }

  .u-section-6 .u-line-1 {
    width: 940px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 302px;
  }

  .u-section-6 .u-video-1 {
    height: 306px;
    width: 940px;
    margin-top: -178px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -19px;
  }

  .u-section-6 .u-video-2 {
    height: 306px;
    width: 940px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -25px;
  }

  .u-section-6 .u-video-3 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: -27px;
  }

  .u-section-6 .u-video-4 {
    height: 306px;
    width: 940px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -29px;
  }

  .u-section-6 .u-video-5 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: -29px;
  }

  .u-section-6 .u-video-6 {
    height: 306px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: -28px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1873px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 82px;
  }

  .u-section-6 .u-video-1 {
    height: 234px;
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 53px;
  }

  .u-section-6 .u-video-2 {
    height: 234px;
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 47px;
  }

  .u-section-6 .u-video-3 {
    height: 234px;
    width: 720px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 45px;
  }

  .u-section-6 .u-video-4 {
    height: 234px;
    width: 720px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 43px;
  }

  .u-section-6 .u-video-5 {
    height: 234px;
    width: 720px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 43px;
  }

  .u-section-6 .u-video-6 {
    height: 234px;
    width: 720px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1525px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-video-1 {
    height: 176px;
    width: 540px;
  }

  .u-section-6 .u-video-2 {
    height: 176px;
    width: 540px;
  }

  .u-section-6 .u-video-3 {
    height: 176px;
    width: 540px;
  }

  .u-section-6 .u-video-4 {
    height: 176px;
    width: 540px;
  }

  .u-section-6 .u-video-5 {
    height: 176px;
    width: 540px;
  }

  .u-section-6 .u-video-6 {
    height: 176px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-video-1 {
    height: 111px;
    width: 340px;
  }

  .u-section-6 .u-video-2 {
    height: 111px;
    width: 340px;
  }

  .u-section-6 .u-video-3 {
    height: 111px;
    width: 340px;
  }

  .u-section-6 .u-video-4 {
    height: 111px;
    width: 340px;
  }

  .u-section-6 .u-video-5 {
    height: 111px;
    width: 340px;
  }

  .u-section-6 .u-video-6 {
    height: 111px;
    width: 340px;
  }
}